body{  font: 12pt/14pt ;
                 margin: 5px 0px 2px 25px;
                 border: medium solid #000000;
                background: lightblue;
 font-family: "Times New Roman", Times;
 }
#i{ font-size: 35px; font-weight: bold;}
pre {font-size: 30px;}
